In [2]:
import polars as pl
import pandas as pd
import numpy as np
import datetime
from ucimlrepo import fetch_ucirepo

# Concepts

## Data types and Structures

In [18]:
s = pl.Series("Value", np.random.standard_normal(size = 10).astype(np.float64))
print(s)
# pl.Series("Column Name", array)

shape: (10,)
Series: 'Value' [f64]
[
	-0.015836
	-0.171067
	0.531684
	1.095039
	1.217219
	-1.175641
	0.150111
	0.855835
	-1.618365
	1.449702
]

In [86]:
df = pl.DataFrame(
    {
        "Name" : ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
        "Birthdate" : [datetime.date(2003, 5, 7), datetime.date(2000, 4, 9), datetime.date(1999, 7, 11), datetime.date(2011, 1, 17)],
        "Mass" : [43.3, 65.0, 46.8, 70.2],
        "Grade" : ["A", "B", "C", "D"]
    }
)
# pl.DataFrame(dictionary) dictionary has keys and values, 
# keys will be the Col Name 
# values must be a list and they will form the values of the column
print(df)

shape: (4, 4)
┌────────────────┬────────────┬──────┬───────┐
│ Name           ┆ Birthdate  ┆ Mass ┆ Grade │
│ ---            ┆ ---        ┆ ---  ┆ ---   │
│ str            ┆ date       ┆ f64  ┆ str   │
╞════════════════╪════════════╪══════╪═══════╡
│ Alice Archer   ┆ 2003-05-07 ┆ 43.3 ┆ A     │
│ Ben Brown      ┆ 2000-04-09 ┆ 65.0 ┆ B     │
│ Chloe Cooper   ┆ 1999-07-11 ┆ 46.8 ┆ C     │
│ Daniel Donovan ┆ 2011-01-17 ┆ 70.2 ┆ D     │
└────────────────┴────────────┴──────┴───────┘

In [ ]:
df.head(2) # by default, will return first 5 rows

shape: (2, 4)
┌──────────────┬────────────┬──────┬───────┐
│ Name         ┆ Birthdate  ┆ Mass ┆ Grade │
│ ---          ┆ ---        ┆ ---  ┆ ---   │
│ str          ┆ date       ┆ f64  ┆ str   │
╞══════════════╪════════════╪══════╪═══════╡
│ Alice Archer ┆ 2003-05-07 ┆ 43.3 ┆ A     │
│ Ben Brown    ┆ 2000-04-09 ┆ 65.0 ┆ B     │
└──────────────┴────────────┴──────┴───────┘

In [37]:
df.glimpse()

Rows: 4
Columns: 4
$ Name       <str> 'Alice Archer', 'Ben Brown', 'Chloe Cooper', 'Daniel Donovan'
$ Birthdate <date> 2003-05-07, 2000-04-09, 1999-07-11, 2011-01-17
$ Mass       <f64> 43.3, 65.0, 46.8, 70.2
$ Grade      <str> 'A', 'B', 'C', 'D'

In [ ]:
df.tail(2) # by default, you get last 5 rows

shape: (2, 4)
┌────────────────┬────────────┬──────┬───────┐
│ Name           ┆ Birthdate  ┆ Mass ┆ Grade │
│ ---            ┆ ---        ┆ ---  ┆ ---   │
│ str            ┆ date       ┆ f64  ┆ str   │
╞════════════════╪════════════╪══════╪═══════╡
│ Chloe Cooper   ┆ 1999-07-11 ┆ 46.8 ┆ C     │
│ Daniel Donovan ┆ 2011-01-17 ┆ 70.2 ┆ D     │
└────────────────┴────────────┴──────┴───────┘

In [39]:
s1 = pl.Series("Values", np.random.standard_cauchy(size = 10_000))

In [ ]:
s1.sample(10)
# works for df
# this gets 10 random samples from the df/series

shape: (10,)
Series: 'Values' [f64]
[
	-2.119288
	-2.474628
	8.910476
	0.521272
	-0.123726
	-0.258983
	0.260883
	-0.085828
	-0.019132
	-0.25605
]

In [ ]:
s1.describe()
# works for df too
# df.describe()

shape: (9, 2)
┌────────────┬──────────────┐
│ statistic  ┆ value        │
│ ---        ┆ ---          │
│ str        ┆ f64          │
╞════════════╪══════════════╡
│ count      ┆ 10000.0      │
│ null_count ┆ 0.0          │
│ mean       ┆ 0.265998     │
│ std        ┆ 142.82076    │
│ min        ┆ -4308.419079 │
│ 25%        ┆ -1.020231    │
│ 50%        ┆ 0.000747     │
│ 75%        ┆ 1.008639     │
│ max        ┆ 12109.103455 │
└────────────┴──────────────┘

In [3]:
df.schema
# this tells us the dtype of each column

Schema([('Name', String),
        ('Birthdate', Date),
        ('Mass', Float64),
        ('Grade', String)])

In [ ]:
df1 = pl.DataFrame(
    {
        "Name" : ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
        "birthdate" : [
            datetime.date(1997, 1, 10), 
            datetime.date(1985, 2, 15), 
            datetime.date(1983, 3, 22), 
            datetime.date(1981, 4, 30)
            ],
        "weight" : [57.9, 72.5, 53.6, 83.1],
        "height" : [1.56, 1.77, 1.65, 1.75]
    },
    schema = {"Name": str, "birthdate" : None, "weight": pl.Float32, "height" : pl.Float32}
)
# schema is basically telling polars what the dtype is, overrides the polars inference of columns
# if you do not want to override a column dtype, put None

# Alternatively, you can do:
# df1 = pl.DataFrame(
#     {
#         "Name" : ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
#         "birthdate" : [
#             datetime.date(1997, 1, 10), 
#             datetime.date(1985, 2, 15), 
#             datetime.date(1983, 3, 22), 
#             datetime.date(1981, 4, 30)
#             ],
#         "weight" : [57.9, 72.5, 53.6, 83.1],
#         "height" : [1.56, 1.77, 1.65, 1.75]
#     },
#     schema_overrides = {"Name": str, "weight": pl.Float32, "height" : pl.Float32}

# you only need to put what column dtype you want to override

df1.schema

Schema([('Name', String),
        ('birthdate', Date),
        ('weight', Float32),
        ('height', Float32)])

## Expressions and contexts

In [33]:
date1 = datetime.date(1980, 1, 1)
date2 = datetime.date(2001, 12, 13)

total_dates = (date2 - date1).days
rng = np.random.default_rng()
randays = rng.integers(low = 0, high  = total_dates, size = 100_000, endpoint = True)
birthday_lst = [date1 + datetime.timedelta(int(day)) for day in randays]

In [34]:
df2 = pl.DataFrame(
    {
        "birthday": birthday_lst,
        "weight" : np.random.normal(loc = 62, scale = 5, size = 100_000),
        "height" : np.random.normal(loc = 1.71, scale = 0.1, size = 100_000)
    }
);
df2

shape: (100_000, 3)
┌────────────┬───────────┬──────────┐
│ birthday   ┆ weight    ┆ height   │
│ ---        ┆ ---       ┆ ---      │
│ date       ┆ f64       ┆ f64      │
╞════════════╪═══════════╪══════════╡
│ 1980-11-28 ┆ 62.121678 ┆ 1.744925 │
│ 1997-06-28 ┆ 61.772687 ┆ 1.732867 │
│ 1992-09-11 ┆ 62.548744 ┆ 1.805808 │
│ 1987-04-22 ┆ 64.049779 ┆ 1.712107 │
│ 1992-12-23 ┆ 67.98801  ┆ 1.516736 │
│ …          ┆ …         ┆ …        │
│ 1996-02-23 ┆ 52.133187 ┆ 1.765024 │
│ 1996-01-19 ┆ 61.817791 ┆ 1.549583 │
│ 1997-03-23 ┆ 66.783206 ┆ 1.828368 │
│ 2001-12-02 ┆ 57.719053 ┆ 1.53854  │
│ 1994-03-19 ┆ 63.680497 ┆ 1.835744 │
└────────────┴───────────┴──────────┘

In [73]:
df2.describe()

shape: (9, 4)
┌────────────┬────────────────────────────┬───────────┬──────────┐
│ statistic  ┆ birthday                   ┆ weight    ┆ height   │
│ ---        ┆ ---                        ┆ ---       ┆ ---      │
│ str        ┆ str                        ┆ f64       ┆ f64      │
╞════════════╪════════════════════════════╪═══════════╪══════════╡
│ count      ┆ 100000                     ┆ 100000.0  ┆ 100000.0 │
│ null_count ┆ 0                          ┆ 0.0       ┆ 0.0      │
│ mean       ┆ 1991-01-03 09:54:31.104000 ┆ 62.016672 ┆ 1.709983 │
│ std        ┆ null                       ┆ 5.01688   ┆ 0.099712 │
│ min        ┆ 1980-01-01                 ┆ 41.372294 ┆ 1.284924 │
│ 25%        ┆ 1985-07-20                 ┆ 58.621464 ┆ 1.642103 │
│ 50%        ┆ 1990-12-28                 ┆ 62.026864 ┆ 1.709692 │
│ 75%        ┆ 1996-07-09                 ┆ 65.39471  ┆ 1.777618 │
│ max        ┆ 2001-12-13                 ┆ 90.292483 ┆ 2.115414 │
└────────────┴────────────────────────────┴───────────┴──────────┘

In [6]:

bmi_expr = pl.col("weight") / (pl.col("height") ** 2)
# this is a polars expression, 
# it doesnt produce anything until u put it into contexts (select, with_columns, filter, group_by)

print(bmi_expr)

[(col("weight")) / (col("height").pow([dyn int: 2]))]

In [14]:
df1 = pl.DataFrame(
    {
        "Name" : ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
        "birthdate" : [
            datetime.date(1997, 1, 10), 
            datetime.date(1985, 2, 15), 
            datetime.date(1983, 3, 22), 
            datetime.date(1981, 4, 30)
            ],
        "weight" : [57.9, 72.5, 53.6, 83.1],
        "height" : [1.56, 1.77, 1.65, 1.75]
    }
)

In [15]:
df1.select(pl.col("weight"))
# df2["weight"] is also fine but df2.select is more useful

shape: (4, 1)
┌────────┐
│ weight │
│ ---    │
│ f64    │
╞════════╡
│ 57.9   │
│ 72.5   │
│ 53.6   │
│ 83.1   │
└────────┘

In [20]:
df1.select(
    bmi = bmi_expr, # this names the col "bmi"
    avg_bmi = bmi_expr.mean(),
    ideal_max_bmi = np.int32(25)
)

# the context "select" applies on polars expressions
# it can be used to produce new columns 
# results produced are not added to the old df

shape: (4, 3)
┌───────────┬───────────┬───────────────┐
│ bmi       ┆ avg_bmi   ┆ ideal_max_bmi │
│ ---       ┆ ---       ┆ ---           │
│ f64       ┆ f64       ┆ i32           │
╞═══════════╪═══════════╪═══════════════╡
│ 23.791913 ┆ 23.438973 ┆ 25            │
│ 23.141498 ┆ 23.438973 ┆ 25            │
│ 19.687787 ┆ 23.438973 ┆ 25            │
│ 27.134694 ┆ 23.438973 ┆ 25            │
└───────────┴───────────┴───────────────┘

In [21]:
df1.select(
    difference = bmi_expr - bmi_expr.mean(),
    z_score = (bmi_expr - bmi_expr.mean())/ bmi_expr.std() # cannot reuse difference here, diff is not an expression
)

shape: (4, 2)
┌────────────┬───────────┐
│ difference ┆ z_score   │
│ ---        ┆ ---       │
│ f64        ┆ f64       │
╞════════════╪═══════════╡
│ 0.35294    ┆ 0.115645  │
│ -0.297475  ┆ -0.097471 │
│ -3.751186  ┆ -1.22912  │
│ 3.695721   ┆ 1.210946  │
└────────────┴───────────┘

In [22]:
result = df1.with_columns(
    bmi = bmi_expr,
    avg_bmi = bmi_expr.mean(),
    ideal_max_bmi = np.int32(25),
    diff = bmi_expr - bmi_expr.mean(),
    z_score = ((bmi_expr - bmi_expr.mean()) / bmi_expr.std())
)

# with_columns creates a new dataframe with the new columns
# select only produces the new columns, doesn't add to the original df

# df["test"] = df2["weight"] / df2["height"] **2 will give an error in polars
# must use select or with_columns

result

shape: (4, 9)
┌─────────────┬────────────┬────────┬────────┬───┬───────────┬─────────────┬───────────┬───────────┐
│ Name        ┆ birthdate  ┆ weight ┆ height ┆ … ┆ avg_bmi   ┆ ideal_max_b ┆ diff      ┆ z_score   │
│ ---         ┆ ---        ┆ ---    ┆ ---    ┆   ┆ ---       ┆ mi          ┆ ---       ┆ ---       │
│ str         ┆ date       ┆ f64    ┆ f64    ┆   ┆ f64       ┆ ---         ┆ f64       ┆ f64       │
│             ┆            ┆        ┆        ┆   ┆           ┆ i32         ┆           ┆           │
╞═════════════╪════════════╪════════╪════════╪═══╪═══════════╪═════════════╪═══════════╪═══════════╡
│ Alice       ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ … ┆ 23.438973 ┆ 25          ┆ 0.35294   ┆ 0.115645  │
│ Archer      ┆            ┆        ┆        ┆   ┆           ┆             ┆           ┆           │
│ Ben Brown   ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ … ┆ 23.438973 ┆ 25          ┆ -0.297475 ┆ -0.097471 │
│ Chloe       ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ … ┆ 23.438973 ┆ 25          ┆ -3.751186 ┆ -1.22912  │
│ Cooper      ┆            ┆        ┆        ┆   ┆           ┆             ┆           ┆           │
│ Daniel      ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ … ┆ 23.438973 ┆ 25          ┆ 3.695721  ┆ 1.210946  │
│ Donovan     ┆            ┆        ┆        ┆   ┆           ┆             ┆           ┆           │
└─────────────┴────────────┴────────┴────────┴───┴───────────┴─────────────┴───────────┴───────────┘

In [80]:
df2.filter(
    (pl.col("weight") > 70) | (pl.col("weight") < 65)
    )

shape: (77_888, 3)
┌────────────┬───────────┬──────────┐
│ birthday   ┆ weight    ┆ height   │
│ ---        ┆ ---       ┆ ---      │
│ date       ┆ f64       ┆ f64      │
╞════════════╪═══════════╪══════════╡
│ 1980-12-31 ┆ 61.07465  ┆ 1.6577   │
│ 1990-03-22 ┆ 62.945176 ┆ 1.678844 │
│ 1994-03-13 ┆ 63.256126 ┆ 1.787907 │
│ 1996-02-22 ┆ 71.725365 ┆ 1.796633 │
│ 1993-05-04 ┆ 61.619823 ┆ 1.701921 │
│ …          ┆ …         ┆ …        │
│ 1984-01-20 ┆ 59.481649 ┆ 1.809567 │
│ 1999-12-12 ┆ 57.900083 ┆ 1.691146 │
│ 1999-05-02 ┆ 71.147208 ┆ 1.633921 │
│ 1993-09-22 ┆ 60.872633 ┆ 1.650392 │
│ 1980-06-06 ┆ 72.452651 ┆ 1.637285 │
└────────────┴───────────┴──────────┘

In [81]:
df2.filter(
    (pl.col("weight") < 75) & (pl.col("weight") > 65)
)

shape: (27_205, 3)
┌────────────┬───────────┬──────────┐
│ birthday   ┆ weight    ┆ height   │
│ ---        ┆ ---       ┆ ---      │
│ date       ┆ f64       ┆ f64      │
╞════════════╪═══════════╪══════════╡
│ 1992-08-08 ┆ 66.329827 ┆ 1.689879 │
│ 1996-02-22 ┆ 71.725365 ┆ 1.796633 │
│ 1994-01-06 ┆ 71.943296 ┆ 1.597551 │
│ 1983-02-07 ┆ 67.806255 ┆ 1.792926 │
│ 1998-05-24 ┆ 66.1522   ┆ 1.731541 │
│ …          ┆ …         ┆ …        │
│ 1998-06-03 ┆ 65.24195  ┆ 1.717718 │
│ 1997-04-22 ┆ 70.26392  ┆ 1.602975 │
│ 1999-06-11 ┆ 65.333913 ┆ 1.725575 │
│ 1999-05-02 ┆ 71.147208 ┆ 1.633921 │
│ 1980-06-06 ┆ 72.452651 ┆ 1.637285 │
└────────────┴───────────┴──────────┘

In [82]:
df2.filter(
    pl.col("weight").is_between(65, 75)
)
# same as 
# df2.filter(
#     (pl.col("weight") < 75) & (pl.col("weight") > 65)
# )

shape: (27_205, 3)
┌────────────┬───────────┬──────────┐
│ birthday   ┆ weight    ┆ height   │
│ ---        ┆ ---       ┆ ---      │
│ date       ┆ f64       ┆ f64      │
╞════════════╪═══════════╪══════════╡
│ 1992-08-08 ┆ 66.329827 ┆ 1.689879 │
│ 1996-02-22 ┆ 71.725365 ┆ 1.796633 │
│ 1994-01-06 ┆ 71.943296 ┆ 1.597551 │
│ 1983-02-07 ┆ 67.806255 ┆ 1.792926 │
│ 1998-05-24 ┆ 66.1522   ┆ 1.731541 │
│ …          ┆ …         ┆ …        │
│ 1998-06-03 ┆ 65.24195  ┆ 1.717718 │
│ 1997-04-22 ┆ 70.26392  ┆ 1.602975 │
│ 1999-06-11 ┆ 65.333913 ┆ 1.725575 │
│ 1999-05-02 ┆ 71.147208 ┆ 1.633921 │
│ 1980-06-06 ┆ 72.452651 ┆ 1.637285 │
└────────────┴───────────┴──────────┘

In [83]:
df2.select(
    (
        (pl.col("birthday").dt.year() // 10) * 10
        ).alias("decade")
)

shape: (100_000, 1)
┌────────┐
│ decade │
│ ---    │
│ i32    │
╞════════╡
│ 1990   │
│ 1980   │
│ 1990   │
│ 1990   │
│ 1990   │
│ …      │
│ 1990   │
│ 1990   │
│ 1990   │
│ 1990   │
│ 1980   │
└────────┘

In [31]:
result = df1.group_by(
    ((pl.col("birthdate").dt.year() // 10) * 10).alias("decade")
).agg(
    pl.col("Name")
)

result

# df.group_by(((pl.col("birthday").dt.year() // 10) * 10).alias("Decade"))
# groups based on decade they are born
# .agg(pl.col("Name"))
# shows the weights of the ppl born in that decade
# whatever is inside agg must be an polars expression

shape: (2, 2)
┌────────┬─────────────────────────────────┐
│ decade ┆ Name                            │
│ ---    ┆ ---                             │
│ i32    ┆ list[str]                       │
╞════════╪═════════════════════════════════╡
│ 1990   ┆ ["Alice Archer"]                │
│ 1980   ┆ ["Ben Brown", "Chloe Cooper", … │
└────────┴─────────────────────────────────┘

In [32]:
df1.group_by(
    (pl.col("birthdate").dt.year()).alias("year")
).agg(
    pl.col("Name")
)

shape: (4, 2)
┌──────┬────────────────────┐
│ year ┆ Name               │
│ ---  ┆ ---                │
│ i32  ┆ list[str]          │
╞══════╪════════════════════╡
│ 1981 ┆ ["Daniel Donovan"] │
│ 1985 ┆ ["Ben Brown"]      │
│ 1997 ┆ ["Alice Archer"]   │
│ 1983 ┆ ["Chloe Cooper"]   │
└──────┴────────────────────┘

In [128]:
df2.group_by(
    (pl.col("birthday").dt.year() // 10 * 10).alias("decade"),
    (pl.col("height") < 1.6).alias("short?")
).agg(
    pl.len().alias("N"), 
    # this gives the count of the group

    pl.col("weight"), 
    # list of all the weights of that group

    pl.col("weight").mean().alias("avg_weight"), 
    # mean weight of that group

    pl.col("weight", "height").std().name.prefix("std_"), 
    # puts the prefix of "std_" in front of weight and height and find the std of the variables
)

shape: (6, 7)
┌────────┬────────┬───────┬─────────────────────────────────┬────────────┬────────────┬────────────┐
│ decade ┆ short? ┆ N     ┆ weight                          ┆ avg_weight ┆ std_weight ┆ std_height │
│ ---    ┆ ---    ┆ ---   ┆ ---                             ┆ ---        ┆ ---        ┆ ---        │
│ i32    ┆ bool   ┆ u32   ┆ list[f64]                       ┆ f64        ┆ f64        ┆ f64        │
╞════════╪════════╪═══════╪═════════════════════════════════╪════════════╪════════════╪════════════╡
│ 1980   ┆ false  ┆ 39270 ┆ [61.07465, 61.560505, … 72.452… ┆ 62.034606  ┆ 5.042863   ┆ 0.08124    │
│ 1980   ┆ true   ┆ 6149  ┆ [56.613902, 58.432005, … 66.76… ┆ 61.981882  ┆ 4.96602    ┆ 0.043127   │
│ 2000   ┆ true   ┆ 1242  ┆ [57.805916, 65.61841, … 55.755… ┆ 62.052461  ┆ 4.863697   ┆ 0.04328    │
│ 1990   ┆ false  ┆ 39456 ┆ [66.329827, 62.945176, … 60.87… ┆ 62.001967  ┆ 5.002184   ┆ 0.080949   │
│ 2000   ┆ false  ┆ 7779  ┆ [63.162373, 63.019993, … 70.01… ┆ 61.976813  ┆ 5.008654   ┆ 0.081239   │
│ 1990   ┆ true   ┆ 6104  ┆ [54.033864, 71.943296, … 53.27… ┆ 62.074904  ┆ 5.037224   ┆ 0.043131   │
└────────┴────────┴───────┴─────────────────────────────────┴────────────┴────────────┴────────────┘

In [ ]:
df2.group_by(
    (pl.col("birthday").dt.year() // 10 * 10).alias("decade"),
    (pl.col("height") < 1.6).alias("short?")
).agg(
    pl.len().alias("N"), 
    # this gives the count of the group

    pl.col("weight"), 
    # list of all the weights of that group

    pl.col("weight").mean().alias("avg_weight"), 
    # mean weight of that group

    pl.col("weight", "height").std().name.prefix("std_"), 
    # puts the prefix of "std_" in front of weight and height and find the std of the variables
).sort(
    "decade", "short?", "avg_weight"
    # this sorts the new grouped df
    # can sort based on aliases
    # this sorts based on decade, then short?, then avg_weight
    )
# interesting observation, the grouped df result will never come back in the same order even though
# the results are the same always, use sort to sort it

shape: (6, 7)
┌────────┬────────┬───────┬─────────────────────────────────┬────────────┬────────────┬────────────┐
│ decade ┆ short? ┆ N     ┆ weight                          ┆ avg_weight ┆ std_weight ┆ std_height │
│ ---    ┆ ---    ┆ ---   ┆ ---                             ┆ ---        ┆ ---        ┆ ---        │
│ i32    ┆ bool   ┆ u32   ┆ list[f64]                       ┆ f64        ┆ f64        ┆ f64        │
╞════════╪════════╪═══════╪═════════════════════════════════╪════════════╪════════════╪════════════╡
│ 1980   ┆ false  ┆ 39270 ┆ [61.07465, 61.560505, … 72.452… ┆ 62.034606  ┆ 5.042863   ┆ 0.08124    │
│ 1980   ┆ true   ┆ 6149  ┆ [56.613902, 58.432005, … 66.76… ┆ 61.981882  ┆ 4.96602    ┆ 0.043127   │
│ 1990   ┆ false  ┆ 39456 ┆ [66.329827, 62.945176, … 60.87… ┆ 62.001967  ┆ 5.002184   ┆ 0.080949   │
│ 1990   ┆ true   ┆ 6104  ┆ [54.033864, 71.943296, … 53.27… ┆ 62.074904  ┆ 5.037224   ┆ 0.043131   │
│ 2000   ┆ false  ┆ 7779  ┆ [63.162373, 63.019993, … 70.01… ┆ 61.976813  ┆ 5.008654   ┆ 0.081239   │
│ 2000   ┆ true   ┆ 1242  ┆ [57.805916, 65.61841, … 55.755… ┆ 62.052461  ┆ 4.863697   ┆ 0.04328    │
└────────┴────────┴───────┴─────────────────────────────────┴────────────┴────────────┴────────────┘

In [ ]:
result1 = df2.group_by(
    (pl.col("birthday").dt.year() // 10 * 10).alias("decade"),
    (pl.col("height") < 1.7).alias("short? (below 1.7m)")
).agg(
    pl.len().alias("count"),
    pl.col("height").max().alias("tallest"),
    pl.col("height").mean().alias("avg_height")
    ).sort(
        "decade", "short? (below 1.7m)"
    )

result2 = df2.group_by(
    (pl.col("birthday").dt.year() // 10 * 10).alias("decade"),
    (pl.col("height") < 1.7).alias("short? (below 1.7m)")
).agg(
    pl.len().alias("count"),
    pl.col("height", "weight").mean().name.prefix("avg_")
).sort(
    "decade", "short? (below 1.7m)"
)

result3 = df1.select(
    pl.col("height", "weight"),
    (pl.col("height", "weight") * 1.1).name.suffix("*1.1")
    )

print(result1)
print(result2)
print(result3)

shape: (6, 5)
┌────────┬─────────────────────┬───────┬──────────┬────────────┐
│ decade ┆ short? (below 1.7m) ┆ count ┆ tallest  ┆ avg_height │
│ ---    ┆ ---                 ┆ ---   ┆ ---      ┆ ---        │
│ i32    ┆ bool                ┆ u32   ┆ f64      ┆ f64        │
╞════════╪═════════════════════╪═══════╪══════════╪════════════╡
│ 1980   ┆ false               ┆ 24575 ┆ 2.143901 ┆ 1.783597   │
│ 1980   ┆ true                ┆ 21101 ┆ 1.699998 ┆ 1.623903   │
│ 1990   ┆ false               ┆ 24442 ┆ 2.165201 ┆ 1.783366   │
│ 1990   ┆ true                ┆ 20948 ┆ 1.699994 ┆ 1.624056   │
│ 2000   ┆ false               ┆ 4852  ┆ 2.184008 ┆ 1.784331   │
│ 2000   ┆ true                ┆ 4082  ┆ 1.699977 ┆ 1.621888   │
└────────┴─────────────────────┴───────┴──────────┴────────────┘
shape: (6, 5)
┌────────┬─────────────────────┬───────┬────────────┬────────────┐
│ decade ┆ short? (below 1.7m) ┆ count ┆ avg_height ┆ avg_weight │
│ ---    ┆ ---                 ┆ ---   ┆ ---        ┆ ---        │
│ i32    ┆ bool                ┆ u32   ┆ f64        ┆ f64        │
╞════════╪═════════════════════╪═══════╪════════════╪════════════╡
│ 1980   ┆ false               ┆ 24575 ┆ 1.783597   ┆ 61.961086  │
│ 1980   ┆ true                ┆ 21101 ┆ 1.623903   ┆ 61.997858  │
│ 1990   ┆ false               ┆ 24442 ┆ 1.783366   ┆ 62.047733  │
│ 1990   ┆ true                ┆ 20948 ┆ 1.624056   ┆ 61.995734  │
│ 2000   ┆ false               ┆ 4852  ┆ 1.784331   ┆ 61.883767  │
│ 2000   ┆ true                ┆ 4082  ┆ 1.621888   ┆ 62.031392  │
└────────┴─────────────────────┴───────┴────────────┴────────────┘
shape: (4, 4)
┌────────┬────────┬────────────┬────────────┐
│ height ┆ weight ┆ height*1.1 ┆ weight*1.1 │
│ ---    ┆ ---    ┆ ---        ┆ ---        │
│ f64    ┆ f64    ┆ f64        ┆ f64        │
╞════════╪════════╪════════════╪════════════╡
│ 1.56   ┆ 57.9   ┆ 1.716      ┆ 63.69      │
│ 1.77   ┆ 72.5   ┆ 1.947      ┆ 79.75      │
│ 1.65   ┆ 53.6   ┆ 1.815      ┆ 58.96      │
│ 1.75   ┆ 83.1   ┆ 1.925      ┆ 91.41      │
└────────┴────────┴────────────┴────────────┘

In [ ]:
df1.select(
    (pl.col(pl.Float64) * 1.1).name.suffix("*1.1")
)

# this multiplies 1.1 to all columns with dtype float64

shape: (4, 2)
┌────────────┬────────────┐
│ weight*1.1 ┆ height*1.1 │
│ ---        ┆ ---        │
│ f64        ┆ f64        │
╞════════════╪════════════╡
│ 63.69      ┆ 1.716      │
│ 79.75      ┆ 1.947      │
│ 58.96      ┆ 1.815      │
│ 91.41      ┆ 1.925      │
└────────────┴────────────┘

## Lazy API

In [ ]:
# # fetch dataset 
# iris = fetch_ucirepo(id=53)
  
# # data (as pandas dataframes) 
# X = iris.data.features 
# y = iris.data.targets 
  
# # # metadata 
# # print(iris.metadata) 
  
# # # variable information 
# # print(iris.variables) 

# X_df, y_df = pl.DataFrame(X), pl.DataFrame(y)
# y_df = y_df.rename({"class" : "species"})
# df = y_df.with_columns(X_df)
# df.write_csv("/mnt/d/Users/Admin/Projects/Machine_Learning/data/iris.csv")

In [44]:
df = pl.read_csv("/mnt/d/Users/Admin/Projects/Machine_Learning/data/iris.csv")
df_large = df.filter(pl.col("sepal length") > 5)
df_agg = df_large.group_by("species").agg(
    (pl.col("sepal width").mean()).name.prefix("avg ")
    )
df_agg

shape: (3, 2)
┌─────────────────┬─────────────────┐
│ species         ┆ avg sepal width │
│ ---             ┆ ---             │
│ str             ┆ f64             │
╞═════════════════╪═════════════════╡
│ Iris-versicolor ┆ 2.804255        │
│ Iris-virginica  ┆ 2.983673        │
│ Iris-setosa     ┆ 3.713636        │
└─────────────────┴─────────────────┘

In [ ]:
q = (
    pl.scan_csv("/mnt/d/Users/Admin/Projects/Machine_Learning/data/iris.csv") # use pl.scan_csv if data is local
    .filter(pl.col("sepal length") > 5)
    .group_by(pl.col("species"))
    .agg(pl.col("sepal width").mean().name.prefix("avg "))
)

df = q.collect()
df

# LazyFrame (Faster!)
# First, polars check for rows where sepal length is more than 5
# Then it reads the columns that is needed for the code

shape: (3, 2)
┌─────────────────┬─────────────────┐
│ species         ┆ avg sepal width │
│ ---             ┆ ---             │
│ str             ┆ f64             │
╞═════════════════╪═════════════════╡
│ Iris-versicolor ┆ 2.804255        │
│ Iris-virginica  ┆ 2.983673        │
│ Iris-setosa     ┆ 3.713636        │
└─────────────────┴─────────────────┘

In [41]:
print(q.explain())

AGGREGATE[maintain_order: false]
  [col("sepal width").mean().alias("avg sepal width")] BY [col("species")]
  FROM
  Csv SCAN [/mnt/d/Users/Admin/Projects/Machine_Learning/data/iris.csv]
  PROJECT 3/5 COLUMNS
  SELECTION: [(col("sepal length")) > (5.0)]
  ESTIMATED ROWS: 150

## Streaming

In [4]:
q1 = (
    pl.scan_csv("/mnt/d/Users/Admin/Projects/Machine_Learning/data/iris.csv")
    .filter(pl.col("sepal length") > 5)
    .group_by(pl.col("species"))
    .agg(pl.col("sepal width").mean().name.prefix("avg "))
)
df = q1.collect(engine = "streaming")